.wrapper {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* ===== header ===== */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head > .indigo {
    font-size: 26px;
    font-weight: normal;
    padding: 15px;
    margin-left: 30px;
    color: blue;
}

.gnb {
    display: flex;
    margin-right: 30px;
}

.gnb li {
    padding: 15px;
}

.gnb a {
    color: blue;
}

.gnb a:hover {
    text-decoration: underline;
}

/* ===== main =====*/
.main-img > img {
    width: 100%;
}

/* flex-box */
.flex-box {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.flex-box > h2 {
    font-weight: normal;
    font-size: 50px;
    color: blue;
}

.flex-box > p {
    height: 100%;
    line-height: 1.8;
    border-left: 5px solid #aaa;
    padding-left: 20px;
}

/* icon-box */
.icon-box {
    margin-top: 200px;
}

.icon-ul {
    display: flex;
    align-items: end;
}

.icon-ul > li {
    width: 25%;
    text-align: center;
}

.icon-ul > li > h3 {
    font-weight: normal;
    font-size: 22px;
    color: blue;
    padding: 20px;
}

.icon-ul > li > img {
    width: 80px;
}

/* main-line1 */
.main-line1 {
    margin: 100px 0;
    border: 2px solid #aaa;
}

/* work */
.work {
    font-weight: normal;
    font-size: 50px;
    color: blue;
    margin-bottom: 70px;
}

.work-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.work-img li > .space {
    position: relative;
}

.work-img li > .space::after {
    position: absolute;
    left: 0; top: 0;
    content: ''; 
    opacity: 0;
    background-color: blue;
    height: 100%; width: 100%;
    transition: all 0.5s;
}

.work-img li > .space:hover::after {
    opacity: 0.5;
}

.work-img li > .space > p {
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
    color: white;
    font-size: 24px;
    padding: 20px;
}

.work-img li > .space > p > span {
    font-size: 16px;
}

.work-img li > .space:hover > p {
    opacity: 1;
}

.work-img img {
    width: 100%;
}

/* main-line2 */
.main-line2 {
    margin: 100px auto;
    width: 20px;
    border: 1px solid blue;
}

/* contact */
.flex-box2 {
    display: flex;
}

.contact > h2 {
    font-weight: normal;
    font-size: 50px;
    color: blue;
}

.contact-word {
    width: 35%;
    margin-left: 100px;
}

.contact-word > p {
    font-size: 20px;
    color: blue;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.contact-word2 {
    width: 35%;
    margin-left: 20px;
}

.contact-word2 > p {
    font-size: 20px;
    color: blue;
    padding-bottom: 10px;
    margin-bottom: 160px;
}

.button {
    width: 200px; height: 60px;
    margin-top: 50px;
    margin-left: 210px;
    text-align: center;
    background-color: blue;
}

.button:hover {
    background-color: black;
}

.button > a {
    line-height: 60px;
    font-size: 20px;
    color: white;
}

/* map */
.map {
    margin-top: 150px;
}

/* ===== footer ===== */
footer {
    padding: 20px;
}

footer > p {
    text-align: center;
    color: blue;
    font-size: 26px;
}